{% extends 'base.html' %}

{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-sm-3 well">
            <div class="well">
                <p><a href="#">My Profile</a></p>
                <img src="{{ user_profile.profileimg.url }}" class="img-circle" height="65" width="65" alt="Avatar">
            </div>
            <div class="well">
                <form action="upload" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Upload image</label>
                        <!--                        <div>-->
                        <!--                            <img src="{{ user_profile.profileimg.url }}" height="100">-->
                        <!--                        </div>-->
                        <br>
                        <input type="file" name="image_upload" class="form-control-file" id="exampleFormControlFile1">
                        <br>
                        <textarea name="caption" placeholder="Caption..."></textarea>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
            <div class="well">
                <p><a href="#">Interests</a></p>
                <p>
                    <span class="label label-default">News</span>
                    <span class="label label-primary">W3Schools</span>
                    <span class="label label-success">Labels</span>
                    <span class="label label-info">Football</span>
                    <span class="label label-warning">Gaming</span>
                    <span class="label label-danger">Friends</span>
                </p>
            </div>
            <div class="alert alert-success fade in">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <p><strong>Ey!</strong></p>
                People are looking at your profile. Find out who.
            </div>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
            <p><a href="#">Link</a></p>
        </div>
        <div class="col-sm-7">
            <-- Post feed -->
            {% for post in posts reversed%}
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default text-left">
                        <div class="panel-body">
                            <h4><a href="#">@{{ post.user }}</a></h4>
                            {% if post.image %}
                            <a href="{{ post.image.url }}">
                                <img src="{{ post.image.url }}" width="600">
                            </a>
                            {% endif %}
                            <a href="/like-post?post_id={{ post.id }}">
                                <button type="button" class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> Like {{ post.no_of_likes }}
                                </button>
                            </a>
                            <p>Posted - {{ post.created_at }}</p>
                            <p><a href="#">{{ post.user }}:</a> {{ post.caption }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        <div class="col-sm-2 well">
            <div class="thumbnail">
                <p>Upcoming Events:</p>
                <img src="paris.jpg" alt="Paris" width="400" height="300">
                <p><strong>Paris</strong></p>
                <p>Fri. 27 November 2015</p>
                <button class="btn btn-primary">Info</button>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


